$primary-color: #f25862;
$title-color: #444;
$text-color: #6a6a6a;
$white-color: #fafafa;
$bg-gray: #e5e5e5;
$font-family: "Montserrat", sans-serif;
$line-color: #d1d1d1;
$border-color: #eaeaea;
$margin-section: 4rem;
