@import "bootstrap/scss/bootstrap";
@import "/scss/variables";
@import "/scss/mixins";
.shop {
    font-family: $font-family;
    padding: 24px 0;

    a {
        transition: all 0.4s ease;
    }
}

.shop .sidebar {
    &__path {
        font-size: 12px;
        a {
            color: $text-color;
            &:hover {
                color: $primary-color;
            }
        }

        span {
            color: #000;
        }
    }

    h3 {
        text-transform: uppercase;
        font-size: 17px;
        font-weight: 400;
        color: #000;
        padding: 6px 0;
        border-bottom: 1px solid $border-color;
        margin: 16px 0px 24px 0;
    }

    &__categories {
    }

    &__category-item {
        margin: 8px 0;
        a {
            font-size: 13px;
            color: #000;
            &:hover {
                color: $primary-color;
            }
        }

        span {
            font-size: 13px;
            color: $text-color;
        }
    }

    &__filter-by-price {
        margin-top: 16px;
        &--slider {
            width: 100%;
            height: 5px;
            background: #bababa;
            position: relative;
        }

        &--progress {
            position: absolute;
            left: 0;
            right: 0;
            background-color: $primary-color;
            height: 100%;
            border-radius: 5px;
        }

        &--range-input {
            position: relative;
            margin-bottom: 46px;

            input[type="range"] {
                position: absolute;
                top: -5px;
                width: 100%;
                height: 5px;
                -webkit-appearance: none;
                pointer-events: none;
                background: none;
                outline: none;
                cursor: pointer;
            }

            input[type="range"]::-webkit-slider-thumb {
                pointer-events: auto;
                -webkit-appearance: none;
                width: 14px;
                height: 14px;
                background-color: $primary-color;
                border-radius: 50%;
            }

            input[type="range"]::-moz-range-thumb {
                pointer-events: auto;
                -moz-appearance: none;
                width: 14px;
                height: 14px;
                background-color: $primary-color;
                border-radius: 50%;
                border: none;
            }
        }

        &--field {
            align-items: center;
            button {
                text-transform: uppercase;
                padding: 8px;
                color: $text-color;
                border: 1px solid $border-color;
                background-color: transparent;
                transition: all 0.3s ease;
                font-size: 14px;
                &:hover {
                    background-color: $primary-color;
                    color: $white-color;
                }
            }

            p {
                color: $text-color;
                font-size: 12px;
                margin: 0 8px;
            }

            &-min,
            &-max {
                text-align: center;
                width: 60px;
                padding: 7px 0;
                color: $text-color;
                border: 1px solid $border-color;
                font-weight: bold;
                margin: 0 6px;
            }
        }
    }

    &__filter-by-brand {
        a {
            display: block;
            margin: 8px 0;
            font-size: 13px;
            color: #000;
            cursor: pointer;
            &:hover {
                color: $primary-color;
            }
        }

        .active {
            color: $primary-color;
            font-weight: 600;

            span {
                color: $primary-color;
            }
        }

        span {
            font-size: 13px;
            color: $text-color;
        }
    }
}

.product-list {
    padding-top: 36px;
    &__line {
        width: 100%;
        height: 1px;
        background-color: $border-color;
        margin-bottom: 16px;
    }

    &__sort {
        font-size: 12px;

        span {
            margin-right: 24px;
        }

        padding: 10px 12px;
        border: 1px solid $border-color;
        margin-right: 16px;

        &-select {
            position: relative;
            cursor: pointer;

            &-list {
                position: absolute;
                top: 36px;
                right: -12px;
                width: 184px;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
                background-color: #fff;
                display: none;
                z-index: 101;

                li {
                    padding: 8px;
                    cursor: pointer;
                    text-align: right;
                    &:hover {
                        color: $white-color;
                        background-color: $bg-gray;
                    }
                }
            }

            i {
                padding-left: 6px;
            }

            span {
                margin: 0;
            }
        }
    }

    &__icon {
        width: 40px;
        height: 40px;
        border: 1px solid #eaeaea;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.2s all ease;
        margin-left: 6px;

        i {
            font-size: 28px;
            color: $bg-gray;
        }

        &:hover {
            background-color: $primary-color;
            border: 1px solid $primary-color;

            i {
                color: $white-color;
            }
        }
    }

    &__icon-wrap {
        .active {
            background-color: $primary-color;
            border-color: $primary-color;

            i {
                color: $white-color;
            }
        }
    }

    &__pagination {
        &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 2px;

            &-link {
                color: $primary-color;
                border: 1px solid $border-color;
                padding: 6px 14px;
                font-size: 14px;
                cursor: pointer;

                &:hover {
                    background-color: $primary-color;
                    color: $white-color;
                }

                i {
                    font-weight: 600;
                }
            }

            .active {
                background-color: $primary-color;
                color: $white-color;
            }
        }
    }
}

.shop .featured-product-list {
    margin-top: 32px;
}

.shop .featured-product__item {
    margin: 0 0 24px 0;
    transition: all 0.2s ease;
}

.shop .featured-product__item--list {
    display: flex;
    flex-direction: row;
    width: 100%;

    .featured-product__item-link {
        width: 30%;

        img {
            transition: all 0.3s ease;
        }

        .featured-product__item-link--cart,
        .featured-product__item-link--view,
        .featured-product__item-link--wishlist {
            opacity: 1;
            bottom: 0;
            visibility: visible;
        }
    }

    .featured-product__item-detail {
        width: 70%;
        padding: 0 32px;

        .featured-product__item-name {
            margin-bottom: 8px;
        }

        .featured-product__item-start-rate {
            margin-bottom: 8px;
        }

        .featured-product__item-wrap--price {
            display: block;
            p {
                margin: 0 0 8px 0;
            }
        }

        .featured-product__item-description {
            display: block;
            font-size: 13px;
            color: $text-color;
        }

        .featured-product__item-readmore {
            display: block;
            font-size: 13px;
            color: #000;
            font-weight: 600;

            &:hover {
                color: $primary-color;
            }
        }
    }

    @include small-down {
        flex-direction: column;

        .featured-product__item-link {
            width: 100%;
        }

        .featured-product__item-detail {
            width: 100%;
            padding: 0;
        }
    }
}
